.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #7791a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding-right: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.header h1 {
    color: #fefefe;
    padding-left: 30px;
}

.header button{
    margin: 30px;
}

.section{
    padding-top: 5rem;
}

.links{
    display: flex;
}

.links-to{
    padding: 2vw;

}

