.wrapp{
    background-color: #5c616e;
    padding: 100px 60px;
    position: relative;
    height: 100%;
    width: 100%;


}

.childs{
    background-color: #fefefe;
    padding: 15px;
    border-radius: 15px;
}