.QuizButtons{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.Btns{
    background-color: #2B74DD;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.Btns:hover{
    opacity: 80%;
    color: inherit;
}

.QuizSection{
    /*border-top: 1px solid red;*/
    padding-top: 20px;
    position: relative;
}
.spn{
    position: absolute;
    color: inherit;
    top: 10px;
    right: 10px;
    border: 1px solid #5c616e;
    border-radius: 5px;
    padding: 5px;
}

.QuizSection div{
    display: flex;
    justify-content: center;
    align-items: center;
}
table {
    width: 80%;
}
th {
    border-bottom: 1px solid black;
    text-align: center;
}
td {
    text-align: center;
}
 /*Timed quiz*/
.timed-quiz{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto
}

.quiz_question{
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
    font-weight: 800;
}
.quiz_question .category{
    font-size: 0.9rem;
    font-weight: 600;
    display: inline-block;
}

.quiz_body{
    border : 1px solid #5c616e;
    padding: 60px;
    border-radius: 7px;
    margin: 3% auto;
}

.quiz_body li{
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #5c616e;
    margin: 6px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.quiz_body li:hover{
    background-color: #CFCFCF;
    color: black;

}
.quiz_body li:active{
  transform: scale(0.97);
}

.quiz-option{
    list-style-type: none;
    color: #fefefe;
    font-size: 13px;

}

/*selected button implementation*/
.selected{
    cursor: pointer;
    border-radius: 0.5rem;
    color: black;
    background-color: #fefefe !important;
    margin: 6px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/*screen altering*/
@media (max-width: 678px) {
    .quiz_question{
        font-size: 10px;
    }

    
}


