.QuizButtons{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.Btns{
    background-color: #2B74DD;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.Btns:hover{
    opacity: 80%;
    color: inherit;
}

.QuizSection{
    /*border-top: 1px solid red;*/
    padding-top: 20px;
    position: relative;
}
.spn{
    position: absolute;
    color: inherit;
    top: 10px;
    right: 10px;
    border: 1px solid #5c616e;
    border-radius: 5px;
    padding: 5px;
}

.QuizSection div{
    display: flex;
    justify-content: center;
    align-items: center;

}
table {


    width: 80%;
    /*height: 200px;*/
}

th {
    border-bottom: 1px solid black;
    text-align: center;
}

td {
    text-align: center;
}