.input{
    background-color: #f65868;
    margin: 20px;
    justify-content: space-evenly;
}


.section{
    justify-content: space-evenly;
    padding-top: 1rem;
    /*margin: 10px 5px;*/

}
.start_left{
    background-color: darkgrey;
    margin: 10px 5px;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.start_right{
    background-color: darkgray;
    margin: 10px 15px;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.tag{
    padding: 15px;
}

.tags{
    background-color: darkgray;
    margin: 6px;
    padding: 6px;
    font-size: 10px;
}

/*forum*/

.new_post{

    margin: 7px;
    display: flex;
    justify-content: end;

}
.new_post_link{
    background-color: #2B74DD;
    padding: 10px;
    color: #fefefe;
    text-decoration: none;
    border-radius: 3px;
}
.new_post_link:hover{
    color: #fefefe;

}

/*creatPost*/
.input_title{
    background-color: #2B74DD;
}

.form{
    display: flex;
    justify-content: center;
}
.text_area{
    display: block;
    width: 100%;
    border: none;
    resize: none;
    wrap-option: off;
    background-color: deepskyblue;
    border-radius: 14px;
}

.text_area:focus{
    outline: none;
}
.body_post{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #FFFDFA;*/

}
.container_post{
    background-color: #CFCFCF;
    padding: 1rem;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 45%;
    /*box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;*/
}
.inputs{
    display: flex;
    flex-direction: column;
}

.post_title{
    width: 50%;
    border: none;
    margin-left: 10px;
    border-radius: 3px;
    justify-content: center;
}