.body{
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #FFFDFA;*/

}
.container{
    background-color: #CFCFCF;
    padding: 1rem;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

input:focus{
    outline: none;
    box-shadow: none;
}
label{
    font-weight:bold ;
    margin-top: 15px;
}
.title{
    text-align: center;
}

button{
    background-color: #2B74DD;
    border-style: hidden;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: large;

}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    padding: 10px;

}

.no-outline:focus {
    outline: none;
}
.foot{
    margin-top: 7px;
    display:flex;
    justify-content: space-between;

}

