.body{
   height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f65868;

}
.container{
    background-color: #7791a1;
    padding: 1rem;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 400px;

}

input:focus{
    outline: none;
    box-shadow: none;
}
label{
    font-weight:bold ;
    margin-top: 15px;
}
.title{
    text-align: center;
}

button{
    background-color: #2B74DD;
    border-style: hidden;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: large;

}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    padding: 10px;

}

.no-outline:focus {
    outline: none;
}

